body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
.flex-container {
    display: flex;
}
ul {
    list-style-type: none;
    padding: 0;
}
a, a:hover, button, button:hover {
    cursor: pointer;
}

.header {
    padding: 0 5%;
    background-color: #737373;
}
.header-text {
    margin: 14px 0;
    font-size: 24px;
}
.completed {
    text-decoration: line-through;
    color: gray;
}


.content {
    margin: 0 25%;
}
.content1 {
    flex-direction: column;
}
.task-add {
    justify-content: space-evenly;
}
#task-add-input {
    padding: 8px 12px;
    width: 70%;
    border-radius: 2px;
}
#task-add-button {
    padding: 8px 12px;
    border-radius: 2px;
    background-color: #4CAF50;
    color: white;
    border: none;
}
#task-list {
    border: 1px solid #232323;
    border-radius: 5px;
}
.task-list-element {
    padding: 8px 12px;
    border-bottom: 1px solid #232323;
}
.task-list-element-checkbox {
    width: 100px;
    margin-right: 16px;
    align-self: center;
}
.task-list-element-text {
    min-width: 89.5%;
    overflow: auto;
    white-space: normal;
    align-self: center;
}
.task-list-delete-button {
    color: red;
    font-size: 24px;
    border: none;
    background-color: initial;
    align-self: center;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 95%;
    background-color: #737373;
    padding: 10px 0 10px 5%;
}