body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}
.flex-container {
    display: flex;
}

.header {
    padding: 0 5%;
    background-color: #737373;
}
.header-text {
    margin: 14px 0;
    font-size: 24px;
}


.content {
    margin: 0 10%;
    justify-content: center;
    height: 800px;
}
.content1 {
    flex-direction: column;
}
.task-add {
    justify-content: center;;
}
#task-add-input {
    margin: 8px 12px;
    width: 50%;
}