body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    background: #fff;
    color: #1c1e21;
    margin: 0;
    padding: 0;
}
div {
    display: block;
}


.content0 {
    padding: 72px 0 112px;
    background-color: #f2f4f7;
}
.content1 {
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    width: 980px;
    min-width: 500px;
}


.logo_quote {
    display: inline-block;
    vertical-align: top;
    padding-right: 32px;
    width: 548px;
}
div.logo {
    padding: 112px 0 16px;
}
img.logo {
    height: 106px;
    margin: -28px;
}
#quote {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    width: 500px;
    line-height: 32px;
    margin: 0;
}


.card0 {
    display: inline-block;
    vertical-align: top;
}
.card1 {
    height: 456px;
    width: 396px;
}
.card2 {
    padding: 10px 0 24px;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 40px 0 0;
    width: 396px;
    text-align: center;
}
form {
    margin: 0;
    padding: 0;
}
.input-box {
    font-family: inherit;
    font-size: 17px;
    width: 364px;
    display: inline-block;
    margin: auto;
    padding: 6px 0;
}
.input-box-inner {
    padding: 14px 16px;
    width: 330px;
    height: 22px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    color: #1d2129;
    box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.1);
}
.input-box-inner:focus {
    border-color: #1877f2;
    outline: none;
    box-shadow: 0 0 0 2px #e7f3ff; /*glowing effect*/
    color: #46494d;
}
.login {
    padding-top: 6px;
}
button.login {
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    padding: 0 16px;
    background-color: #0866ff;
    border: none;
    border-radius: 6px;
    line-height: 48px;
    width: 364px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    color: #fff;

}
.forgot {
    margin-top: 16px;
}
a.forgot, a.forgot:visited {
    font-family: inherit;
    text-decoration: none;
    font-size: 14px;
    color: #0866ff;
}
a.forgot:hover {
    text-decoration: underline;
}
#line-divider1 {
    margin: 24px 16px 0;
    border-bottom: 1px solid #ccd0d5;
}
.create-account {
    margin: 24px 0 0;
}
a.create-account {
    font-family: inherit;
    font-size: 17px;
    font-weight: bold;
    padding: 0 16px;
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    line-height: 48px;
    width: 200px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    color: #fff;
}
a.create-account:hover {
    background-color: #33991f;
}
.create-business-account {
    margin: 28px 0 0;
    font-family: inherit;
    font-size: 14px;
    text-align: center;
}
a.create-business-account, a.create-business-account:visited {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
a.create-business-account:hover {
    text-decoration: underline;
}


.footer {
    padding: 20px 0 0;
}
.footer-content {
    width: 980px;
    min-width: 500px;
    margin: 0 auto;
    font-family: inherit;
    color: #737373;
    font-size: 12px;
    font-weight: lighter;
}
.footer-content-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    list-style-type: none;
    padding: 8px 0;
    margin: 0;
}
.footer-content-element, .footer-content-element:visited {
    color: inherit;
    text-decoration: none;
}
.footer-content-element:hover {
    text-decoration: underline;
    cursor: pointer;
}
.footer-content-element-not-first {
    padding-left: 10px;
}
.footer-content-element-plus {
    border: 1px solid #ccd0d5;
    border-radius: 2px;
    font-weight: bold;
    font-size: 18px;
    color: #8a8d91;
    background-color: #ebedf0;
    padding: 0 8px;
}
#line-divider2 {
    margin: 0 0 8px;
    border-bottom: 1px solid #ccd0d5;
}
.footer-content-list-mult-rows {
    margin: 0 0 0 -20px;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    list-style-type: none;
}
.footer-content-element-mult-rows {
    padding: 0 0 0 20px;
}
.meta {
    padding: 20px 0;
    font-size: 11px;
}