body {
    font-size: 13px;
    background-color: white;
    font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.5;
}
a, a:visited, button, button:visited {
    cursor: pointer;
    text-decoration: none;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
}
.flex-container-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.flex-container-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}


.head {
    /*margin-bottom: 2px;*/
    justify-content: space-between;
    padding: 0 5%;
    color: #262626;
    height: 54px;
    max-width: 1600px;
    margin: 0 auto 2px;
}
.head-logo {
    width: 108px;
    padding: 15px 12px;
}
.head-unmarked-list {
    margin: 0;
}
.head-list-element {
    padding: 17px 12px 10px;
    border: 1px solid transparent;
    display: inline-block;
    color: black;
}
.head-list-element:hover {
    text-decoration: underline 2px black;
}
.head-list-element:visited {
    color: initial;
}
.head-list-element-all {
    padding: 17px 20px 16px 15px;
}
.head-list-element-button {
    font-family: inherit;
    border: none;
    background-color: transparent;
}
.head-list-element-button:hover {
    text-decoration: underline 2px black;
}
.head-list-element-all:after {
    font-family: "Segoe MDL2 Assets", "Segoe UI Symbol";
    content: "";
    display: inline-block;
    font-size: 8px;
    margin-left: 5px;
    font-weight: 700;
    padding-top: 7px;
}
.head-list-element-search {
    padding: 17px 9px 30px;
    margin: 0 6px 1px 1px;
}
.head-list-element-search:after {
    font-family: "Segoe MDL2 Assets", "Segoe UI Symbol";
    content: "";
    display: inline-block;
    font-size: 16px;
    margin-left: 2px;
    text-indent: 0;
    vertical-align: sub;
}
.head-list-element-cart {
    padding: 2px 0 0;
    margin: 0 7px 0 10px;
}
.head-list-element-cart:after {
    font-family: "Segoe MDL2 Assets", "Segoe UI Symbol";
    content: "";
    display: inline-block;
    font-size: 16px;
    line-height: 42px;
    margin-top: 2px;
}
.head-list-element-sign-in {
    display: flex;
    align-items: center;
    padding-top: 3px;
    color: black;
}
.head-list-element-sign-in:visited {
    color: initial;
}
.head-list-element-sign-in-label {
    padding: 0 4px 0 12px;
}
.head-list-element-sign-in-logo {
    width: 32px;
    margin: 8px;
}


.alert {
    padding: 16px 0;
    background-color: #0067b8;
    justify-content: center;
    z-index: 5;
}
.alert-text {
    padding-right: 27px;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}
.alert-text:hover {
    text-decoration: underline;
}
.alert-text:after {
    content: "";
    left: .4375em;
    font-family: "Segoe MDL2 Assets", "Segoe UI Symbol";
    position: relative;
    top: 1px;
    font-weight: 600;
    font-size: 0.8rem;
}


.image {
    justify-content: center;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}
.image-card {
    position: absolute;
    width: 100%;
    z-index: 2;
}
.image-card1 {
    flex-direction: column;
    max-width: 1600px;
    margin: 48px auto 0;
    padding: 0 5%;
}
.image-card2 {
    background-color: white;
    width: 35.3333%;
    padding: 48px 48px 40px;
    box-shadow: 0 .125rem .25rem 0 rgba(0, 0, 0, .13), 0 0 .0625rem 0 rgba(0, 0, 0, .11);
}
.image-card-header {
    margin: 0 0 20px;
    font-size: 2.3125rem;
    font-weight: 600;
    display: inline-block;
}
.image-card-paragraph {
    margin: 0 0 24px;
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
}
.image-card-link {
    display: inline-block;
    color: white;
    padding: 10px 12px;
    background-color: #0067b8;
    border: none;
    font-weight: 600;
    font-size: 1rem;
}


.carousel-controls {
    justify-content: center;
    align-items: center;
    margin-bottom: 43px;
}
.carousel-controls-button {
    border: none;
    background-color: transparent;
    padding: 1rem;
    font-family: "Segoe Fluent Icons", "Segoe MDL2 Assets", "Segoe UI Symbol";
}
.carousel-controls-play {
    font-size: 13px;
}
.carousel-controls-left {
    font-size: 25px;
    position: relative;
    top: 1px;
}
.carousel-controls-active-element {
    font-size: 10px;
}
.carousel-controls-element {
    font-size: 10px;
}
.carousel-controls-right {
    font-size: 25px;
    position: relative;
    top: 1px;
}


.link-list-container {
    justify-content: center;
}
.link-list {
    align-content: center;
}
.link-list-element {
    margin: 16px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link-list-element-image {
    margin-bottom: 8px;
    width: 40px;
}
.link-list-element-text {
    color: #0067b8;
    text-decoration: underline;
    font-weight: 600;
    font-size: 16px;
}