body {
    font-size: 13px;
    background-color: #e6e6e6;
    font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.5;
}
a, a:visited, button, button:visited {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
}
.flex-container-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.flex-container-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}


.head {
    margin-bottom: 2px;
    justify-content: space-between;
    padding: 0 5%;
    color: #262626;
    height: 54px;
}
.head-logo {
    width: 108px;
    padding: 15px 12px;
}
.head-unmarked-list {
    margin: 0;
}
.head-list-element {
    padding: 17px 12px 10px;
    border: 1px solid transparent;
    display: inline-block;
}
.head-list-element:hover {
    text-decoration: underline 2px black;
}
.head-list-element-all {
    padding: 17px 20px 16px 15px;
}
.head-list-element-button {
    font-family: inherit;
    border: none;
    background-color: transparent;
}
.head-list-element-button:hover {
    text-decoration: underline 2px black;
}
.head-list-element-all:after {
    font-family: "Segoe MDL2 Assets", "Segoe UI Symbol";
    content: "";
    display: inline-block;
    position: relative;
    font-size: 8px;
    margin-left: 5px;
    font-weight: 700;
    padding-top: 7px;
}
.head-list-element-search {
    padding: 17px 9px 30px;
    margin: 0 6px 1px 1px;
}
.head-list-element-search:after {
    font-family: "Segoe MDL2 Assets", "Segoe UI Symbol";
    content: "";
    display: inline-block;
    position: relative;
    font-size: 16px;
    margin-left: 2px;
    text-indent: 0;
    vertical-align: sub;
}
.head-list-element-cart {
    padding: 2px 0 0;
    margin: 0 7px 0 10px;
}
.head-list-element-cart:after {
    font-family: "Segoe MDL2 Assets", "Segoe UI Symbol";
    content: "";
    display: inline-block;
    font-size: 16px;
    line-height: 42px;
    margin-top: 2px;
}
.head-list-element-sign-in {
    display: flex;
    align-items: center;
    padding-top: 3px;
}
.head-list-element-sign-in-label {
    padding: 0 4px 0 12px;
}
.head-list-element-sign-in-logo {
    width: 32px;
    margin: 8px;
}


.alert {
    padding: 16px 0;
    /*min-height: 3.625rem;*/
    background-color: #0067b8;
    justify-content: center;
}
.alert-text {
    padding-right: 27px;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}